<h1> <%= @restaurant.name %></h1>
<%= @restaurant.address %>
<%= @restaurant.phone_number %>
<%= @restaurant.category %>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to list", restaurants_path %>
